<section class="content">
  <div class="row">
    <div class="col-md-3">
      <%= render "shared/user_profile" %>
      <% if user_signed_in? %>
        <% if current_user.trainee? %>
          <%= render "shared/user_progress" %>
          <%= render "shared/user_info" %>
          <%= render "shared/user_courselist" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>